#ignore sync files:
.tmux/plugins/*
.sync/*
.emacs~
.config/audacity/*
.config/appimagelauncher.cfg
.config/calibre/*
.config/Circuit JS1/*
.config/Code/*
.config/evolution/*
.config/GIMP/*
.config/GitHub Desktop/*
.config/resilio-sync/*
.config/spotify/*
.config/gtk-2.0/*
.config/gtk-3.0/*
.config/autostart/remmina-applet.desktop
.config/cef_user_data/Dictionaries/en-US-9-0.bdic
.config/dconf/user
.config/enchant/*
.config/evince/*
.config/eog/*
.config/flameshot/*
.config/freerdp/*
.config/gnome-control-center/*
.config/gnome-initial-setup-done
.config/GNOME-xdg-terminals.list
.config/gtk-4.0/*
.config/libreoffice/*
.config/QtProject.conf

.config/Todoist/*
.config/htop/*
.config/ibus/*
.config/kactivitymanagerdrc
.config/kconf_updaterc
.config/kdeconnect/*
.config/kdeglobals
.config/keepassxc/*
.config/kglobalshortcutsrc
.config/kolourpaintrc
.config/krusaderrc
.config/mimeapps.list
.config/monitors.xml*
.config/nautilus/*
.config/okularpartrc
.config/okularrc
.config/pavucontrol.ini
.config/pulse/*
.config/qt5ct/*
.config/remmina/*
.config/solaar/*
.config/teamviewer/*
.config/totem/*
.config/transmission/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/*
.config/xdg-terminals.list
.config/xsettingsd/*
.config/yelp/*
.gitignore.swp

.config/Flipper Devices Inc/qFlipper.ini
.config/GNU Radio/top_block.conf
.config/balena-etcher/*
.config/ksnip/ksnip.conf
.config/parlatype/*
.config/systemd/user/default.target.wants/appimagelauncherd.service
node_modules/*
package-lock.json
package.json
.config/Virtualbox/*
.config/VirtualBox/compreg.dat
.config/VirtualBox/selectorwindow.log
.config/VirtualBox/selectorwindow.log.1
.config/VirtualBox/selectorwindow.log.2
.config/VirtualBox/selectorwindow.log.3
.config/VirtualBox/VBoxSVC.log
.config/VirtualBox/VBoxSVC.log.1
.config/VirtualBox/VirtualBox.xml
.config/VirtualBox/VirtualBox.xml-prev
.config/VirtualBox/xpti.dat
